include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include manager_workspace *.css
recursive-include manager_workspace *.csv
recursive-include manager_workspace *.html
recursive-include manager_workspace *.ico
recursive-include manager_workspace *.js
recursive-include manager_workspace *.json
recursive-include manager_workspace *.md
recursive-include manager_workspace *.png
recursive-include manager_workspace *.py
recursive-include manager_workspace *.svg
recursive-include manager_workspace *.txt
recursive-exclude manager_workspace *.pyc